In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("results.csv")

In [25]:
df = df.iloc[:,1:]

In [26]:
broken_link_df = df[df['broken_link_score'] > 0.0][['merchant_name', 'broken_link_score', 'broken_links']]

In [27]:
broken_link_df

,merchant_name,broken_link_score,broken_links
1,Pt. Blooming Lotus Yoga,10.0,{'https://www.blooming-lotus-yoga.com/drops-of...
10,SisilShop,100.0,{'': 'None'}
11,Gamma Media,100.0,{'': 'None'}
12,Shinhwa Global Sakura Bear,100.0,{'': 'None'}
14,Putri mitsubishi,100.0,{'': 'None'}
15,Toko Reza 999,100.0,{'': 'None'}
17,Barokah Lumintu,100.0,{'': 'None'}
18,Merah Hitam,100.0,{'': 'None'}

In [28]:
for link in broken_link_df['broken_links'].values:
    print(link)

{'https://www.blooming-lotus-yoga.com/drops-of-nectar/': '<Response [403]>'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}