In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results_38.csv")

In [3]:
df = df.iloc[:,1:]

In [4]:
df

,merchant_name,broken_link_score,link_contact_us_exist,cu_email_exist,cu_phone_number_exist,link_about_us_exist,link_tnc_exist,tnc_refund_policy_exist,contact_us_score,tnc_score,label,broken_links
0,CV. ASIA TRIP INDONESIA,0.000000,1.0,1.0,1.0,0.0,1.0,1.0,100.0,100.0,APPROVED,{}
1,Pt. Blooming Lotus Yoga,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}
2,Yayasan Green Sejahtera,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}
3,PT Matair Terra Solusi,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,APPROVED,{}
4,SimplyMii,0.000000,1.0,0.0,1.0,0.0,0.0,0.0,50.0,0.0,APPROVED,{}
5,Nyetak.ID,10.000000,0.0,1.0,1.0,0.0,1.0,1.0,100.0,100.0,APPROVED,{'https://www.nyetak.id/_blank': '<Response [4...
6,nonandnik,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}
7,YoYo Mats,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{}
8,hiendguitar.com,0.000000,1.0,1.0,1.0,0.0,1.0,1.0,100.0,100.0,APPROVED,{}
9,Fipper,0.000000,1.0,1.0,1.0,1.0,1.0,0.0,100.0,0.0,APPROVED,{}
10,SisilShop,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
11,Gamma Media,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
12,Shinhwa Global Sakura Bear,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
13,Gitra,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,100.0,REJECTED,{}
14,Putri mitsubishi,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
15,Toko Reza 999,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
16,wiraswasta,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{}
17,Barokah Lumintu,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
18,Merah Hitam,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{'': 'None'}
19,Sellygroup,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REJECTED,{}
20,LifePal Technologies Pte. Ltd.,0.000000,0.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}
21,Digital Service Testing Merchant,10.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{'https://www.linkedin.com/company/doku-indone...
22,AOGIN,0.000000,1.0,1.0,1.0,0.0,0.0,0.0,100.0,0.0,APPROVED,{}
23,Zervinco,0.000000,0.0,0.0,1.0,0.0,1.0,1.0,50.0,100.0,APPROVED,{}
24,Zervinco,0.000000,0.0,0.0,1.0,0.0,1.0,1.0,50.0,100.0,APPROVED,{}
25,Project X,20.000000,1.0,0.0,1.0,1.0,1.0,0.0,50.0,0.0,APPROVED,"{'tel:+681388178888': 'None', 'https://project..."
26,Ini Aku,14.285714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,APPROVED,{'https://id.linkedin.com/company/pt-aneka-sea...
27,bramble furniture,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}
28,PAGi,0.000000,1.0,0.0,0.0,1.0,1.0,1.0,0.0,100.0,APPROVED,{}
29,Netviro,0.000000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,100.0,APPROVED,{}
30,icreate.id,10.000000,0.0,0.0,0.0,0.0,1.0,1.0,0.0,100.0,APPROVED,{'https://www.icreate.id/job-vacancy.aspx': '<...
31,MALAMADRE MOTORCYCLES,30.000000,1.0,0.0,0.0,0.0,1.0,1.0,0.0,100.0,APPROVED,{'https://malamadremotorcycles.com/portfolio/m...
32,Huaning Indonesia Sukses,50.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,APPROVED,{'https://support.cloudflare.com/hc/en-us/arti...
33,Yuliana GoHerbalife,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,APPROVED,{}
34,Radja Fit Club,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REVIEWED,{}
35,CV. IDEA COMINDO,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,REVIEWED,{}
36,Club MESRA,10.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REVIEWED,{'https://www.facebook.com/Ulfi%20Ulfiyah': '<...
37,Wyaz Rental,0.000000,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,REVIEWED,{}

In [5]:
broken_link_df = df[df['broken_link_score'] > 0.0][['merchant_name', 'broken_link_score', 'broken_links']]

In [6]:
broken_link_df

,merchant_name,broken_link_score,broken_links
5,Nyetak.ID,10.000000,{'https://www.nyetak.id/_blank': '<Response [4...
10,SisilShop,100.000000,{'': 'None'}
11,Gamma Media,100.000000,{'': 'None'}
12,Shinhwa Global Sakura Bear,100.000000,{'': 'None'}
14,Putri mitsubishi,100.000000,{'': 'None'}
15,Toko Reza 999,100.000000,{'': 'None'}
17,Barokah Lumintu,100.000000,{'': 'None'}
18,Merah Hitam,100.000000,{'': 'None'}
21,Digital Service Testing Merchant,10.000000,{'https://www.linkedin.com/company/doku-indone...
25,Project X,20.000000,"{'tel:+681388178888': 'None', 'https://project..."
26,Ini Aku,14.285714,{'https://id.linkedin.com/company/pt-aneka-sea...
30,icreate.id,10.000000,{'https://www.icreate.id/job-vacancy.aspx': '<...
31,MALAMADRE MOTORCYCLES,30.000000,{'https://malamadremotorcycles.com/portfolio/m...
32,Huaning Indonesia Sukses,50.000000,{'https://support.cloudflare.com/hc/en-us/arti...
36,Club MESRA,10.000000,{'https://www.facebook.com/Ulfi%20Ulfiyah': '<...

In [7]:
for link in broken_link_df['broken_links'].values:
    print(link)

{'https://www.nyetak.id/_blank': '<Response [404]>'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'': 'None'}
{'https://www.linkedin.com/company/doku-indonesia/': '<Response [999]>'}
{'tel:+681388178888': 'None', 'https://projectx.id/contact-us/': '<Response [404]>'}
{'https://id.linkedin.com/company/pt-aneka-search-indonesia': '<Response [999]>'}
{'https://www.icreate.id/job-vacancy.aspx': '<Response [404]>'}
{'https://malamadremotorcycles.com/portfolio/mm34/': '<Response [403]>', 'https://malamadremotorcycles.com/portfolio/mm10/': '<Response [403]>', 'https://malamadremotorcycles.com/portfolio/mm82/': '<Response [403]>'}
{'https://support.cloudflare.com/hc/en-us/articles/200171946-Error-523': '<Response [404]>'}
{'https://www.facebook.com/Ulfi%20Ulfiyah': '<Response [404]>'}