In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")

In [3]:
df = df.iloc[:,1:]

In [7]:
df

,merchant_name,broken_link_score,link_contact_us_exist,cu_email_exist,cu_phone_number_exist,link_about_us_exist,link_tnc_exist,tnc_refund_policy_exist,contact_us_score,tnc_score,label,broken_links
0,CV. ASIA TRIP INDONESIA,0.0,1.0,1.0,1.0,0.0,1.0,1.0,100.0,100.0,APPROVED,{}
1,Pt. Blooming Lotus Yoga,0.0,1.0,1.0,1.0,1.0,1.0,1.0,100.0,100.0,APPROVED,{}

In [4]:
broken_link_df = df[df['broken_link_score'] > 0.0][['merchant_name', 'broken_link_score', 'broken_links']]

In [5]:
broken_link_df

Empty DataFrame
Columns: [merchant_name, broken_link_score, broken_links]
Index: []

In [6]:
for link in broken_link_df['broken_links'].values:
    print(link)