In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("results_3.csv")

In [24]:
df = df.iloc[:,1:]

In [29]:
df

,merchant_name,broken_link_score,link_contact_us_exist,cu_email_exist,cu_phone_number_exist,link_about_us_exist,link_tnc_exist,tnc_refund_policy_exist,contact_us_score,tnc_score,label,broken_links
0,AndrianKun,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REVIEWED,{'': 'None'}
1,lemon bandung,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,REVIEWED,{}

In [26]:
broken_link_df = df[df['broken_link_score'] > 0.0][['merchant_name', 'broken_link_score', 'broken_links']]

In [27]:
broken_link_df

  merchant_name  broken_link_score  broken_links
0    AndrianKun              100.0  {'': 'None'}

In [28]:
for link in broken_link_df['broken_links'].values:
    print(link)

{'': 'None'}