In [1]:
import pandas as pd
import os
from shutil import copyfile

In [2]:
os.remove("tes_full - Copy.csv")
copyfile("tes_full.csv", "tes_full - Copy.csv")

'tes_full - Copy.csv'

In [3]:
df = pd.read_csv("tes_full - Copy.csv")

In [4]:
label_df = pd.read_csv("merchants_cleaned.csv")[['merchant_name', 'website', 'label']]
label_df.head()

           merchant_name                                website     label
0   CV.ASIATRIPINDONESIA                    http://asiatrip.id/  APPROVED
1   Pt.BloomingLotusYoga    https://www.blooming-lotus-yoga.com  APPROVED
2  YayasanGreenSejahtera  https://greensejahterafoundation.com/  APPROVED
3    PTMatairTerraSolusi                http://www.matair.co.id  APPROVED
4              SimplyMii             https://www.simplymii.com/  APPROVED

In [5]:
join_df = df[['merchant_name','website','fraud_score']].merge(label_df, on=['merchant_name','website'])
join_df.head()

,merchant_name,website,fraud_score,label
0,CV.ASIATRIPINDONESIA,http://asiatrip.id/,0.000000,APPROVED
1,Pt.BloomingLotusYoga,https://www.blooming-lotus-yoga.com,0.000000,APPROVED
2,YayasanGreenSejahtera,https://greensejahterafoundation.com/,0.000000,APPROVED
3,PTMatairTerraSolusi,http://www.matair.co.id,0.666667,APPROVED
4,SimplyMii,https://www.simplymii.com/,0.000000,APPROVED

In [6]:
join_df.groupby("label").size()

label
APPROVED    487
REJECTED    106
dtype: int64

In [7]:
fp = join_df[(join_df.fraud_score > 0.5) & (join_df.label == 'APPROVED')]

In [8]:
fn = join_df[(join_df.fraud_score < 0.5) & (join_df.label == 'REJECTED')]

In [9]:
tp = join_df[(join_df.fraud_score > 0.5) & (join_df.label == 'REJECTED')]

In [10]:
tn = join_df[(join_df.fraud_score < 0.5) & (join_df.label == 'APPROVED')]

In [11]:
accuracy = (tp.shape[0] + tn.shape[0])/(tp.shape[0] + tn.shape[0] + fp.shape[0] + fn.shape[0])

In [12]:
total = len(join_df)

In [13]:
fp.shape

(152, 4)

In [14]:
fn.shape

(49, 4)

In [15]:
tp.shape

(57, 4)

In [16]:
tn.shape

(335, 4)

In [17]:
print("FP Rate: %s" % (fp.shape[0]/(fp.shape[0]+tn.shape[0])))
print("Accuracy: %s" % accuracy)
print("Read Data: %.2f%s (%s/%s)" % (total/len(label_df)*100, "%", total, len(label_df)))

FP Rate: 0.31211498973305957
Accuracy: 0.6610455311973018
Read Data: 100.00% (594/594)