In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [58]:
## Load all csv
models = ['dt', 'rf', 'xgb', 'nb']
res = pd.DataFrame({"model":[]})
for model in models:
    df = pd.read_csv("res_%s.csv" % model)
    df['model'] = model
    res = pd.concat([res, df], axis=0)

In [59]:
res = res.drop("0", axis=1)

In [66]:
pd.options.display.float_format = '{:,.3f}'.format

In [70]:
res.iloc[:,:-1]

  model   auc  accuracy  balanced_accuracy  precision  recall  f1_score
0    dt 0.944     0.920              0.871      0.895   0.773     0.829
0    rf 0.953     0.909              0.879      0.818   0.818     0.818
0   xgb 0.953     0.898              0.871      0.783   0.818     0.800
0    nb 0.953     0.864              0.864      0.679   0.864     0.760

In [71]:
print(res.iloc[:,:-1].to_latex(index=False))

\begin{tabular}{lrrrrrr}
\toprule
model &   auc &  accuracy &  balanced\_accuracy &  precision &  recall &  f1\_score \\
\midrule
   dt & 0.944 &     0.920 &              0.871 &      0.895 &   0.773 &     0.829 \\
   rf & 0.953 &     0.909 &              0.879 &      0.818 &   0.818 &     0.818 \\
  xgb & 0.953 &     0.898 &              0.871 &      0.783 &   0.818 &     0.800 \\
   nb & 0.953 &     0.864 &              0.864 &      0.679 &   0.864 &     0.760 \\
\bottomrule
\end{tabular}

In [74]:
pd.concat([res['model'], res.iloc[:,-1:]], axis=1)

  model confusion_matrix (tp,tn,fp,fn)
0    dt                 [17, 64, 2, 5]
0    rf                 [18, 62, 4, 4]
0   xgb                 [18, 61, 5, 4]
0    nb                 [19, 57, 9, 3]

In [75]:
print(pd.concat([res['model'], res.iloc[:,-1:]], axis=1).to_latex(index=False))

\begin{tabular}{ll}
\toprule
model & confusion\_matrix (tp,tn,fp,fn) \\
\midrule
   dt &                 [17, 64, 2, 5] \\
   rf &                 [18, 62, 4, 4] \\
  xgb &                 [18, 61, 5, 4] \\
   nb &                 [19, 57, 9, 3] \\
\bottomrule
\end{tabular}

### Performance

In [12]:
pd.read_csv("tes_n.csv")

,Unnamed: 0,merchant_name,broken_link_score,link_contact_us_exist,cu_email_exist,cu_phone_number_exist,link_about_us_exist,link_tnc_exist,tnc_refund_policy_exist,contact_us_score,tnc_score,links_response,website,prediction_class,prediction_prob,time_taken
0,1,CV.ASIATRIPINDONESIA,0.0,1.0,1.0,1.0,0.0,1.0,1.0,100.000000,100.0,{'https://asiatrip.id/product/promo-domestic-a...,http://asiatrip.id/,0.0,0.000140,48.526882
1,2,Pt.BloomingLotusYoga,0.0,1.0,1.0,1.0,1.0,1.0,1.0,100.000000,100.0,{'https://www.blooming-lotus-yoga.com/bali-esc...,https://www.blooming-lotus-yoga.com,0.0,0.000019,6.240940
2,3,YayasanGreenSejahtera,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,No hyperlinks gathered,https://greensejahterafoundation.com/,1.0,0.998304,3.094808
3,4,PTMatairTerraSolusi,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,"{'': 'No Response/Timeout', 'https://www.matai...",http://www.matair.co.id,1.0,0.885653,49.499342
4,5,SimplyMii,0.0,1.0,1.0,1.0,0.0,0.0,0.0,100.000000,0.0,{'https://www.simplymii.com/products/new-home-...,https://www.simplymii.com/,0.0,0.019326,13.005355
5,6,Nyetak.ID,0.0,0.0,1.0,1.0,0.0,1.0,1.0,66.666667,100.0,{'https://www.nyetak.id/product.php?product_id...,https://www.nyetak.id,0.0,0.000980,6.653930
6,7,nonandnik,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,{'https://nonandnik.com/scuba-series/': '<Resp...,https://nonandnik.com,1.0,0.983157,9.830258
7,8,YoYoMats,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,No hyperlinks gathered,https://yoyomatsindonesia.myshopify.com,1.0,0.998304,3.202413
8,9,hiendguitar.com,0.0,1.0,1.0,1.0,0.0,1.0,1.0,100.000000,100.0,{'https://hiendguitar.com/collections/new-arri...,http://hiendguitar.com/,0.0,0.000140,28.345683
9,10,Fipper,1.0,0.0,1.0,0.0,0.0,0.0,0.0,33.333333,0.0,No hyperlinks gathered,http://www.fippersandal.co.id,1.0,0.968367,1.359416