In [49]:
import matplotlib.pyplot as plt
import pandas as pd

In [58]:
## Load all csv
models = ['dt', 'rf', 'xgb', 'nb']
res = pd.DataFrame({"model":[]})
for model in models:
    df = pd.read_csv("res_%s.csv" % model)
    df['model'] = model
    res = pd.concat([res, df], axis=0)

In [59]:
res = res.drop("0", axis=1)

In [66]:
pd.options.display.float_format = '{:,.3f}'.format

In [70]:
res.iloc[:,:-1]

  model   auc  accuracy  balanced_accuracy  precision  recall  f1_score
0    dt 0.944     0.920              0.871      0.895   0.773     0.829
0    rf 0.953     0.909              0.879      0.818   0.818     0.818
0   xgb 0.953     0.898              0.871      0.783   0.818     0.800
0    nb 0.953     0.864              0.864      0.679   0.864     0.760

In [71]:
print(res.iloc[:,:-1].to_latex(index=False))

\begin{tabular}{lrrrrrr}
\toprule
model &   auc &  accuracy &  balanced\_accuracy &  precision &  recall &  f1\_score \\
\midrule
   dt & 0.944 &     0.920 &              0.871 &      0.895 &   0.773 &     0.829 \\
   rf & 0.953 &     0.909 &              0.879 &      0.818 &   0.818 &     0.818 \\
  xgb & 0.953 &     0.898 &              0.871 &      0.783 &   0.818 &     0.800 \\
   nb & 0.953 &     0.864 &              0.864 &      0.679 &   0.864 &     0.760 \\
\bottomrule
\end{tabular}

In [74]:
pd.concat([res['model'], res.iloc[:,-1:]], axis=1)

  model confusion_matrix (tp,tn,fp,fn)
0    dt                 [17, 64, 2, 5]
0    rf                 [18, 62, 4, 4]
0   xgb                 [18, 61, 5, 4]
0    nb                 [19, 57, 9, 3]

In [75]:
print(pd.concat([res['model'], res.iloc[:,-1:]], axis=1).to_latex(index=False))

\begin{tabular}{ll}
\toprule
model & confusion\_matrix (tp,tn,fp,fn) \\
\midrule
   dt &                 [17, 64, 2, 5] \\
   rf &                 [18, 62, 4, 4] \\
  xgb &                 [18, 61, 5, 4] \\
   nb &                 [19, 57, 9, 3] \\
\bottomrule
\end{tabular}